<a href="https://colab.research.google.com/github/ahairshi/mlzoompcamp-cohort2022/blob/main/MLZoomcamp_hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

import warnings
warnings.filterwarnings("ignore")

### Download Dataset

In [2]:
!wget -P /content/MLZoomcamp/week3 https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2022-09-21 22:08:22--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘/content/MLZoomcamp/week3/housing.csv.5’

housing.csv.5       100%[===================>]   1.36M  --.-KB/s    in 0.05s

2022-09-21 22:08:22 (26.3 MB/s) - ‘/content/MLZoomcamp/week3/housing.csv.5’ saved [1423529/1423529]

### Data preparation

Select only the features from above and fill in the missing values with 0.

Create a new column `rooms_per_household` by dividing the column `total_rooms` by the column `households` from dataframe.

Create a new column `bedrooms_per_room` by dividing the column `total_bedrooms` by the column `total_rooms` from dataframe.

Create a new column `population_per_household` by dividing the column `population` by the column `households` from dataframe.

In [3]:
usecols = ['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']

data = pd.read_csv('/content/MLZoomcamp/week3/housing.csv', usecols=usecols)

In [4]:
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[ mz_table.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) + " columns that have missing values.")
        return mz_table

In [5]:
missing_zero_values_table(data)

Your selected dataframe has 10 columns and 20640 Rows.
There are 1 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
total_bedrooms,0,207,1.0,207,1.0,float64

In [6]:
data.total_bedrooms = data.total_bedrooms.fillna(0)

In [7]:
data['rooms_per_household'] = data['total_rooms'] / data['households']
data['bedrooms_per_room'] = data['total_bedrooms'] / data['total_rooms']
data['population_per_household'] = data['population'] / data['households']

In [8]:
missing_zero_values_table(data)

Your selected dataframe has 13 columns and 20640 Rows.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Zero Values, Missing Values, % of Total Values, Total Zero Missing Values, % Total Zero Missing Values, Data Type]
Index: []

In [9]:
data.head(10).T

,0,1,2,3,4,5,6,7,8,9
longitude,-122.23,-122.22,-122.24,-122.25,-122.25,-122.25,-122.25,-122.25,-122.26,-122.25
latitude,37.88,37.86,37.85,37.85,37.85,37.85,37.84,37.84,37.84,37.84
housing_median_age,41.0,21.0,52.0,52.0,52.0,52.0,52.0,52.0,42.0,52.0
total_rooms,880.0,7099.0,1467.0,1274.0,1627.0,919.0,2535.0,3104.0,2555.0,3549.0
total_bedrooms,129.0,1106.0,190.0,235.0,280.0,213.0,489.0,687.0,665.0,707.0
population,322.0,2401.0,496.0,558.0,565.0,413.0,1094.0,1157.0,1206.0,1551.0
households,126.0,1138.0,177.0,219.0,259.0,193.0,514.0,647.0,595.0,714.0
median_income,8.3252,8.3014,7.2574,5.6431,3.8462,4.0368,3.6591,3.12,2.0804,3.6912
median_house_value,452600.0,358500.0,352100.0,341300.0,342200.0,269700.0,299200.0,241400.0,226700.0,261100.0
ocean_proximity,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY
rooms_per_household,6.984127,6.238137,8.288136,5.817352,6.281853,4.761658,4.931907,4.797527,4.294118,4.970588
bedrooms_per_room,0.146591,0.155797,0.129516,0.184458,0.172096,0.231774,0.192899,0.221327,0.260274,0.199211
population_per_household,2.555556,2.109842,2.80226,2.547945,2.181467,2.139896,2.128405,1.788253,2.026891,2.172269

### Question 1
What is the most frequent observation (mode) for the column ocean_proximity?

Options:

*   NEAR BAY
*   <font color='blue'><1H OCEAN</font> 
*  INLAND
* NEAR OCEAN

In [10]:
pd.value_counts(data['ocean_proximity'])

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [11]:
data['ocean_proximity'].mode()[0]

'<1H OCEAN'

### Make median_house_value binary
We need to turn the `median_house_value` variable from numeric into binary.

Let's create a variable above_average which is 1 if the `median_house_value` is above its mean value and 0 otherwise.

In [12]:
data_class = data.copy()
mean = data_class['median_house_value'].mean()

data_class['above_average'] = np.where(data_class['median_house_value']>=mean,1,0)

data_class = data_class.drop('median_house_value', axis=1)

In [13]:
data_class.head(10).T

,0,1,2,3,4,5,6,7,8,9
longitude,-122.23,-122.22,-122.24,-122.25,-122.25,-122.25,-122.25,-122.25,-122.26,-122.25
latitude,37.88,37.86,37.85,37.85,37.85,37.85,37.84,37.84,37.84,37.84
housing_median_age,41.0,21.0,52.0,52.0,52.0,52.0,52.0,52.0,42.0,52.0
total_rooms,880.0,7099.0,1467.0,1274.0,1627.0,919.0,2535.0,3104.0,2555.0,3549.0
total_bedrooms,129.0,1106.0,190.0,235.0,280.0,213.0,489.0,687.0,665.0,707.0
population,322.0,2401.0,496.0,558.0,565.0,413.0,1094.0,1157.0,1206.0,1551.0
households,126.0,1138.0,177.0,219.0,259.0,193.0,514.0,647.0,595.0,714.0
median_income,8.3252,8.3014,7.2574,5.6431,3.8462,4.0368,3.6591,3.12,2.0804,3.6912
ocean_proximity,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY
rooms_per_household,6.984127,6.238137,8.288136,5.817352,6.281853,4.761658,4.931907,4.797527,4.294118,4.970588
bedrooms_per_room,0.146591,0.155797,0.129516,0.184458,0.172096,0.231774,0.192899,0.221327,0.260274,0.199211
population_per_household,2.555556,2.109842,2.80226,2.547945,2.181467,2.139896,2.128405,1.788253,2.026891,2.172269
above_average,1,1,1,1,1,1,1,1,1,1

### Split the data

*   Split your data in train/val/test sets, with 60%/20%/20% distribution.
*   Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
*   Make sure that the target value (median_house_value) is not in your dataframe.

In [14]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(data_class, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [15]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

### Question 2
Create the correlation matrix for the numerical features of your train dataset.

In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
What are the two features that have the biggest correlation in this dataset?

Options:

*  <font color='blue'>`total_bedrooms` and `households`</font> 
* `total_bedrooms` and `total_rooms`
* `population` and `households`
* `population_per_household` and `total_rooms`

In [16]:
def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

In [17]:
numerical = df_train.iloc[:, (np.where((df_train.dtypes == np.int64) | (df_train.dtypes == np.float64)))[0]].columns.to_list()
numerical

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'rooms_per_household',
 'bedrooms_per_room',
 'population_per_household',
 'above_average']

In [18]:
categorical = df_train.iloc[:, (np.where((df_train.dtypes == object)))[0]].columns.to_list()
categorical

['ocean_proximity']

In [19]:
df_train.drop(categorical, axis=1).describe().T

,count,mean,std,min,25%,50%,75%,max
longitude,12384.0,-119.579831,2.005077,-124.350000,-121.800000,-118.500000,-118.010000,-114.310000
latitude,12384.0,35.642003,2.130977,32.560000,33.930000,34.260000,37.720000,41.950000
housing_median_age,12384.0,28.585837,12.608072,1.000000,18.000000,29.000000,37.000000,52.000000
total_rooms,12384.0,2633.748950,2137.057303,2.000000,1461.000000,2127.000000,3150.000000,39320.000000
total_bedrooms,12384.0,537.035368,412.252061,2.000000,298.000000,438.000000,647.250000,6445.000000
population,12384.0,1427.289648,1140.978664,3.000000,790.000000,1170.000000,1726.000000,35682.000000
households,12384.0,499.044089,375.749834,2.000000,282.000000,412.000000,606.000000,6082.000000
median_income,12384.0,3.870090,1.888237,0.499900,2.562500,3.552100,4.740400,15.000100
rooms_per_household,12384.0,5.411837,2.077484,0.888889,4.443167,5.223123,6.046054,61.812500
bedrooms_per_room,12384.0,0.213091,0.058301,0.100000,0.175329,0.203165,0.239753,1.000000
population_per_household,12384.0,3.033264,7.074410,0.692308,2.427379,2.816215,3.280020,599.714286
above_average,12384.0,0.407623,0.491412,0.000000,0.000000,0.000000,1.000000,1.000000

In [20]:
import seaborn as sns 
corr = df_train.drop(categorical, axis=1).corr()
cm = sns.light_palette("green", as_cmap=True) 
cm = sns.diverging_palette(220, 20, sep=20, as_cmap=True) 
corr.style.background_gradient(cmap=cm).set_precision(2)

In [21]:
get_top_abs_correlations(df_train.drop(categorical, axis=1), 1)

total_bedrooms  households    0.979399
dtype: float64

### Question 3
Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.

What is the value of mutual information?
Round it to 2 decimal digits using round(score, 2)


Options:

* 0.263
* 0.00001
* <font color='blue'>0.101</font> 
* 0.15555

In [22]:
from sklearn.metrics import mutual_info_score

def calculate_mi(series):
    return mutual_info_score(series, df_train.above_average)

df_mi = df_train[categorical].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')

In [23]:
df_mi

                       MI
ocean_proximity  0.101384

In [24]:
df_train = df_train.drop('above_average', axis=1)
df_val = df_val.drop('above_average', axis=1)
df_test = df_test.drop('above_average', axis=1)

### Question 4

* Now let's train a logistic regression
* Remember that we have one categorical variable `ocean_proximity` in the data. Include it using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - `model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)`
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

Options:
- 0.60
- 0.72
-  <font color='blue'>0.84</font> 
- 0.95

In [25]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

numerical = df_train.iloc[:, (np.where((df_train.dtypes == np.int64) | (df_train.dtypes == np.float64)))[0]].columns.to_list()
categorical = df_train.iloc[:, (np.where((df_train.dtypes == object)))[0]].columns.to_list()

train_dict = df_train[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

X_train = dv.transform(train_dict)

model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

y_pred = model.predict(X_val)

accuracy = np.round(accuracy_score(y_val, y_pred),2)
print(accuracy)

0.84

### Question 5 

* Let's find the least useful feature using the *feature elimination* technique.
* Train a model with all these features (using the same parameters as in Q4).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature. 
* Which of following feature has the smallest difference? 
   * `total_rooms`
   * `total_bedrooms` 
   * `population`
   *  <font color='blue'>`households`</font> 

> **note**: the difference doesn't have to be positive

In [26]:

feature_df = pd.DataFrame(columns = ['Features', 'Scores', 'Diff'])

orig_score = accuracy

all_features = categorical + numerical

for feature in all_features:
    subset = all_features.copy()
    subset.remove(feature)
    
    train_dict = df_train[subset].to_dict(orient='records')

    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)

    X_train = dv.transform(train_dict)

    model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42)
    model.fit(X_train, y_train)

    val_dict = df_val[subset].to_dict(orient='records')
    X_val = dv.transform(val_dict)

    y_pred = model.predict(X_val)

    score = accuracy_score(y_val, y_pred)
    values = [feature, score, orig_score - score]
    feature_df.loc[len(feature_df)] = values

In [27]:
feature_df.sort_values('Diff', ascending=True).reset_index(drop=True)

                    Features    Scores      Diff
0                 households  0.829700  0.010300
1                total_rooms  0.826793  0.013207
2             total_bedrooms  0.825824  0.014176
3                   latitude  0.822190  0.017810
4                  longitude  0.820979  0.019021
5        rooms_per_household  0.807655  0.032345
6                 population  0.806686  0.033314
7   population_per_household  0.802083  0.037917
8          bedrooms_per_room  0.801599  0.038401
9            ocean_proximity  0.798934  0.041066
10        housing_median_age  0.796027  0.043973
11             median_income  0.753391  0.086609

### Question 6

* For this question, we'll see how to use a linear regression model from Scikit-Learn
* We'll need to use the original column `'median_house_value'`. Apply the logarithmic transformation to this column.
* Fit the Ridge regression model (`model = Ridge(alpha=a, solver="sag", random_state=42)`) on the training data.
* This model has a parameter `alpha`. Let's try the following values: `[0, 0.01, 0.1, 1, 10]`
* Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

If there are multiple options, select the smallest `alpha`.

Options:
- <font color='blue'>0</font> 
- 0.01
- 0.1
- 1
- 10

In [28]:
data_reg = data.copy()
data_reg['median_house_value']=np.log1p(data_reg['median_house_value'])

df_train_full, df_test = train_test_split(data_reg, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test = df_test.median_house_value.values

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

train_dict = df_train[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

X_train = dv.transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [29]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

for a in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_val)
    
    score = np.sqrt(mean_squared_error(y_val, y_pred))
    print(f"alpha: {a}, RMSE: {round(score, 15)}")

alpha: 0, RMSE: 0.524063570701514
alpha: 0.01, RMSE: 0.524063570718629
alpha: 0.1, RMSE: 0.524063570881207
alpha: 1, RMSE: 0.524063572515553
alpha: 10, RMSE: 0.524063588833328